*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}

.container{
    width:100%;
    min-height: 100vh;
    background:linear-gradient(45deg,#b39af1,#f3a49d);
    color:#fff;
    position: relative;
}
.navbar{
    width: 90%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 60px;
    cursor:pointer;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 2px;
}
nav ul li a:hover{
    color:#6d4dbd;
}
.row{
    width:80%;
    min-height: 85vh;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
}
.col{
    margin:20px 0;
    flex-basis: 50%;
    min-width: 300px;
    height: 100%;
    position: relative;
}
.text-box{
    max-width: 400px;
    margin-top: 100px;
}
.text-box h5{
    color: #6d4dbd;
}
.text-box h1{
    font-size: 50px;
    font-weight: 100;
}

.gallery-box{
    max-width: 400px;
    position: relative;
    margin: auto;
}
.gallery-box img{
    width: 100%;
    border: 10px solid rgba(255,255,255,0.2);
    box-sizing: border-box;
}
.gallery-box ul{
    position:absolute;
    right:-100px;
    top:50%;
    transform: translateY(-50%);
}
.gallery-box ul li{
list-style: none;
font-size: 16px;
font-weight: bold;
padding:0 30px;
margin-bottom: 30px;
cursor:pointer;
position: relative;
}
.gallery-box .active{
    color: #6d4dbd;
}
.gallery-box ul li::after{
    content:'';
    width: 30px;
    height: 2px;
    background: transparent;
    position: absolute;
    top: 8px;
    left: -5px;
}
.gallery-box .active::after{
    background: #6d4dbd;
}
.footer{
    width:100%;
    text-align: center;
    padding:30px 0;
      }
.footer:h4{
        margin-bottom: 25px;
        margin-top: 20px;
        font-weight: 600;
      }
.icons.fa{
        color:#a2c3ef;
        margin:0 13px;
        cursor: pointer;
        padding: 10px 0;
      }
    .last img{
        margin:0 13px;
        cursor: pointer;
        padding: 5px 0;
        size: 2%;
        width: 20px;
       
}

.hero-btn{
        display:inline-block;
        text-decoration: none;
        color:rgb(74, 20, 79);
        border:1px solid rgb(74, 20, 79);
        padding:12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
        margin-top: 10px;
    }
.hero-btn:hover{
        border:1px solid #6d4666;
        background: #efb9e498;
        transition: 1s;
    }


.sub-header{
        height: 50vh;
        width:100%;
        background-image: linear-gradient(rgba(100, 33, 100, 0.205),rgba(99, 32, 75, 0.406)),url(images/backg.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        color:#6d4dbd;
      
      }
.nav-links h1{
    font-size: 50px;
    font-weight: 100;
    margin-top:60px;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
}
.nav-links ul li{
    margin-top: 20px;
    margin-right: 20px;

}

.staff{
    width:80%;
    margin:auto;
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .staff-col{
    flex-basis:48%;
    padding:30px 2px;
  }
  .staff-col img{
    width:100%;
  }


  