*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
}
.header{
    min-height: 100vh;
    width:100%;
    background-image:linear-gradient(rgba(4, 9, 30, 0.454),rgba(4, 9, 30, 0.427)),url(images/backg5.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
}
nav{
    display:flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
   
}
nav img{
    width: 80px;

}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:8px 12px;
    position:relative;
}
.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background: #a2c3ef;
    display:block;
    margin:auto;
}
.nav-links ul li:hover::after{
    width:100%;

}
.text-box{
    width:90%;
    color:#fff;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin:10px 0 40px;
    font-size: 15px;
    color:#fff;
}
.hero-btn{
    display:inline-block;
    text-decoration: none;
    color:#fff;
    border:1px solid #fff;
    padding:12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border:1px solid #a2c3ef;
    background: #a2c3ef;
    transition: 1s;
}

nav.fa{
    display:none;
}



.main-we-do{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.inner-we-do{
    flex: 1 1 45rem;
    background-color: #5d6063b6;
}
.inner-we-do h1{
    color:rgb(20, 10, 54);
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
.inner-we-do p{
    color:#fff;
    font-size: 1rem;
    padding: 1rem 0;
    margin-bottom: 25px;
    text-align: left;
}
.inner-we-do a{
    padding: 2rem 4rem;
    background:#a2c3ef;
    color:black;
    font-size: 1.5rem;
    border-radius: 15px;
}


.registration{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
}
.registration h1{
    font-size: 36px;
    font-weight: 600;
    color:rgb(20, 10, 54);
}



.row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}
.registration_col{
    flex-basis: 31%;
    background: #71767aaf;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing: border-box;
    margin-right: 5%;
    transition:0.5s;
}
.registration_col p{
text-align: left;
font-weight: 600;
margin:10px 0;
color: #fff;
}
.registration_col:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
}









.projects{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top:50px;
}
.projects-col{
    flex-basis:32%;
    border-radius:10px;
    margin-bottom: 30px;
    position:relative;
    overflow:hidden;
    justify-content: space-between;
    margin-right:10px;
}
.projects-col img{
    width:100%;
    height: 100%;
    display: block;
}
.layer{
    background:transparent;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    transition:0.5s;
}
.layer:hover{
    background:rgba(31, 32, 66, 0.685);
}
.layer h3{
    width:100%;
    font-weight: 500;
    color:#fff;
    font-size: 20px;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    position:absolute;
    opacity:0;
    transition:0.5s;
}
.layer:hover h3{
    bottom:49%;
    opacity:1;
}
.btn{
    display:inline-block;
    text-decoration: none;
    color:rgb(36, 17, 71);
    border:1px solid rgb(36, 18, 65);
    padding:12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border:1px solid #a2c3ef;
    background: #a2c3ef;
    transition: 1s;
}




.equipments{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top:50px;
}
.equipments-col{
    flex-basis:31%;
    border-radius:10px;
    margin-bottom: 5%;
    text-align: left;
}
.equipments-col img{
    width:100%;
    height: 100%;
    display: block;
}
.equipments-col p{
    padding: 0;
}
.equipments-col h3{
    margin-top:16px;
    margin-bottom: 15px;
    text-align: center;
}


.cta{
    margin:100px auto;
    width:80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/back3.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color:#fff;
    margin-bottom: 40px;
    padding:0;
}
@media(max-width:700px){
    .cta h1{
        font-size: 24px;
    }
}



  .footer{
width:100%;
text-align: center;
padding:30px 0;
  }
  .footer:h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
  }
  .icons.fa{
    color:#a2c3ef;
    margin:0 13px;
    cursor: pointer;
    padding: 10px 0;
  }
  .fa-heart-o{
    color:#f44336;
  }



  .sub-header{
    height: 50vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/back2.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
  }
  .about-us{
    width:80%;
    margin:auto;
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .about-col{
    flex-basis:48%;
    padding:30px 2px;
  }
  .about-col img{
    width:50%;
  }
  .about-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  .about-col div .fa{
    font-size: 28%;
    color:#1b1b8e;
    margin: 10px;
    margin-right: 30px;
  }
  .about-col div p{
    padding: 0;
  }
  .about-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
  }




  .staff{
    width:80%;
    margin:auto;
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .staff-col{
    flex-basis:48%;
    padding:30px 2px;
  }
  .staff-col img{
    width:100%;
  }



  .labor{
    width:80%;
    margin:auto;
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .labor-col{
    flex-basis:48%;
    padding:30px 2px;
  }
  .labor-col img{
    width:100%;
  }





  .our-clients{
    padding: 3rem 7%;
    margin-bottom: 25px;
}
.our-clients h1{
    color: #12121e;
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
}
.our-clients h1 span{
    color: var(--blue);
}

.main-client{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.inner-client{
    flex-basis: 20%;
    text-align: center;
}
.inner-client img{
width: 35%;
margin-top: 20px;
}



.contact-col input, .contact-col textarea, .contact-col button{
    width:50%;
    padding:15px;
    margin-bottom: 17px;
    outline:#1b1b8e;
    border: 1px solid #ccc;
}




@media only screen and (max-width: 600px) {
    div.inner-we-do{
      font-size: 30px;
    }
    div.registration_col{
        flex-wrap: wrap;
        width: 100%;
        display: block;
    }
    .row{
        flex-direction: column;
    }
  }